services:
	moduleManager:
		setup:
			- addModule(Crm\PrintModule\PrintModule())

	printSubscriptionsRepository: Crm\PrintModule\Repository\PrintSubscriptionsRepository

	printExportAdapter: League\Flysystem\Local\LocalFilesystemAdapter('%appDir%/../content/export')
	printExportFileSystem: League\Flysystem\Filesystem(@printExportAdapter)

	mountManagerConfig:
		setup:
			- mountFilesystem(Crm\PrintModule\Export\FileSystem::DEFAULT_BUCKET_NAME,@printExportFileSystem)

	- Crm\PrintModule\Components\PaymentSuccessPrintWidget
	- Crm\PrintModule\Components\RequestNotification
	- Crm\PrintModule\Components\UserChangeAddressRequests
	- Crm\PrintModule\Components\UserPrintExport
	- Crm\PrintModule\Components\EnterAddressWidget
	- Crm\PrintModule\Export\ExportEngine
	- Crm\PrintModule\Forms\ChangeAddressRequestFormFactory
	- Crm\PrintModule\Forms\UserPrintAddressFormFactory
	- Crm\PrintModule\Seeders\ConfigsSeeder
	- Crm\PrintModule\Seeders\AddressTypesSeeder
	- Crm\PrintModule\Seeders\ContentAccessSeeder
	- Crm\PrintModule\User\AddressChangeRequestsUserDataProvider
	- Crm\PrintModule\User\PrintAddressesUserDataProvider
	- Crm\PrintModule\Commands\ExportDailyCommand
	- Crm\PrintModule\Export\DailyExportDataSource
	- Crm\PrintModule\Export\DailyExportView
	- Crm\PrintModule\Export\FileSystem
	printFilePatternConfig: Crm\PrintModule\Models\Export\FilePatternConfig
