services:
	moduleManager:
		setup:
			- addModule(Crm\PrintModule\PrintModule())

	- Crm\PrintModule\Components\PaymentSuccessPrintWidget
	- Crm\PrintModule\Components\RequestNotification
	- Crm\PrintModule\Components\UserChangeAddressRequests
	- Crm\PrintModule\Components\UserPrintExport
	- Crm\PrintModule\Components\EnterAddressWidget
	- Crm\PrintModule\Export\ExportEngine
	- Crm\PrintModule\Forms\ChangeAddressRequestFormFactory
	- Crm\PrintModule\Forms\UserPrintAddressFormFactory
	- Crm\PrintModule\Repository\PrintSubscriptionsRepository
	- Crm\PrintModule\Seeders\ConfigsSeeder
	- Crm\PrintModule\User\AddressChangeRequestsUserDataProvider
