<div style="margin: 8px 0">
    <a class="btn btn-sm btn-default" tabindex="-1"
       href={link setDefaultPrintAddress! $addressId}
    >
        <i class="fa fa-arrow-right"></i> {_print.component.default_print_address_widget.change_default}
    </a>
</div>
